.item1 {
	grid-area: header;
	box-shadow: 0 0 1rem 0 rgba(0,0,0,.5);
}

.item2 {
	grid-area: main;
	padding: 10px;
	width: 80%;
	margin: 0 auto;
}

.item3 {
	grid-area: right;
	padding: 10px;
	width: 80%;
	margin: 0 auto;
}


.grid-container {
	display: grid;
	grid-template-areas: 
		'header header'
		'main right';
}

.aboutimg {
	float: right;
	margin-left: 20px;
}