.item2, .item3, .item4, .item5, .item6 {
	background-color: rgba(244,244,244,.65);
}

.item1 {
	grid-area: header;
	box-shadow: 0 0 1rem 0 rgba(0,0,0,.5);
}

.item2 {
	grid-area: main;
	padding: 10px 20px 10px 21px;
	width: 90%;
	margin: 14px 0 15px 5%;
	border-radius: 5px 0 0 5px;
}

.item3 {
	grid-area: left;
	padding: 26px 10px 10px;
	margin-top: 14px;
}

.item4 {
	grid-area: right;
	padding: 26px 21px 10px 10px;
	margin: 14px 10% 0 0;
	border-top-right-radius: 5px;
}

.item5 {
	grid-area: middle;
	padding: 10px 21px 10px 10px;
	margin-right: 10%;
}

.item6 {
	grid-area: bottom;
	padding: 10px 21px 10px 10px;
	margin: 0 5.1% 15px 0;
	border-bottom-right-radius: 5px;
}

.grid-container {
	display: grid;
	grid-template-areas: 
		'header header header header'
		'main main left right'
		'main main left middle'
		'main main bottom bottom';
}

img#floating {
	float: right;
	margin-left: 20px;
	margin-top: 16px;
	margin-bottom: 5px;
}

h1#middletext {
	text-align: center;
}

h1#righttext {
	text-align: right;
}