.item1 {
	grid-area: header;
	border-top: 5px solid;
	border-bottom: 5px solid;
}

.item2 {
	grid-area: main;
	padding: 10px;
	width: 93%;
	margin: 0 auto;
}

.item3 {
	grid-area: left;
	padding: 26px 10px 10px;
}

.item4 {
	grid-area: right;
	padding: 26px 21px 10px 10px;
}

.item5 {
	grid-area: middle;
	padding: 10px 21px 10px 10px;
}

.item6 {
	grid-area: bottom;
	padding: 10px 21px 10px 10px;
}

.grid-container {
	display: grid;
	grid-template-areas: 
		'header header header header'
		'main main left right'
		'main main left middle'
		'main main bottom bottom';
}

img#floating {
	float: right;
	margin-left: 20px;
	margin-top: 16px;
}

h1#middletext {
	text-align: center;
}

h1#righttext {
	text-align: right;
}