.header {
	background-color: white;
	height: 160px;
}

.nav {
	float: right;
	color: black;
	line-height: 161px;
	padding-right: 40px;
	padding-left: 40px;
	font-size: 20px;
	text-decoration: none;
}

.nav:hover {
	background-color: black;
	color: white;
}

img#header {
	width: 160px;
	padding-left: 30px;
}

body {
	margin: 0%;
}

.item1 {
	grid-area: header;
	border-top: 5px solid;
	border-bottom: 5px solid;

}

.item2 {
	grid-area: main;
	padding: 10px;
	width: 80%;
	margin: 0 auto;
	}

.item3 {
	grid-area: left;
	padding: 10px;
}

.item4 {
	grid-area: right;
	padding: 10px;
}

.item5 {
	grid-area: middle;
	padding: 10px;
}

.item6 {
	grid-area: bottom;
	padding: 10px;
}

.grid-container {
	display: grid;
	grid-template-areas: 
		'header header header header'
		'main main left right'
		'main main left middle'
		'main main bottom bottom';
}
